#Project {
  padding-top: 10px;
  h2 {
    font-size: 24px;
    text-align: left;
    line-height: 1.6;
    border-bottom: 1px solid #ddd;
  }
  ul {
    text-align: left;
    margin: 12px 0;
    line-height: 1.6;
    li {
      margin: 0;
    }
  }
  img {
    display: inline-block;
    margin-right: 10px;
    max-width: 200px;
  }
  .preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
