.edit {
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-size: 18px;
  width: 400px;
  font-family: monospace, Helvetica, Arial, sans-serif;
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    a {
      margin-right: 16px;
    }
  }
  .card {
    margin-top: 16px;
    border-radius: 6px;
    .card-header {
      a,
      i,
      .card-header-title {
        color: #666;
      }
    }
    .card-content {
      padding: 12px 16px;
      text-align: left;
      > div {
        margin: 4px 0;
      }
    }
    .icon {
      margin-right: 8px;
      color: #666;
    }
  }
  .setting {
    ul {
      display: flex;
    }
    li {
      display: flex;
      align-items: center;
      width: 50%;
      height: 30px;
      .color-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 3px;
      }
      .line {
        display: inline-block;
        margin: 0 6px;
        width: 18px;
        height: 1.4px;
        background: #666;
      }
    }
    .sketch {
      margin: 20px auto 0 !important;
    }
  }
  .skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .skill-name {
      width: 100px;
      height: 28px;
      overflow: hidden;
    }
    .skill-precent {
      width: 50px;
    }
    i {
      color: #ff3860 !important;
    }
  }
  .add-box {
    padding-top: 10px;
    text-align: center;
    a {
      width: 80px;
    }
  }
  .about-input {
    margin: 16px 12px 0;
  }
  .education {
    .remove {
      float: right;
      margin: 0 0 6px;
      width: 33px;
      height: 27px;
      text-align: center;
      line-height: 27px;
      .icon {
        margin-right: -5px !important;
        text-align: center;
        color: #fff;
      }
    }
    .edu-item {
      margin-bottom: 16px !important;
    }
    .field {
      margin-bottom: 4px;
    }
  }
}
