.edit {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 400px;
  font-family: monospace, Helvetica, Arial, sans-serif;
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    a {
      margin-right: 16px;
    }
  }
  .card {
    margin-top: 16px;
    border-radius: 6px;
    .card-header {
      a,
      i,
      .card-header-title {
        color: #666;
      }
    }
    .card-content {
      padding: 12px 16px;
      text-align: left;
      > div {
        margin: 4px 0;
      }
    }
    .icon {
      margin-right: 6px;
      color: #666;
    }
  }
  .setting {
    ul {
      display: flex;
    }
    li {
      display: flex;
      align-items: center;
      width: 50%;
      height: 30px;
      font-size: 18px;
      .color-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 3px;
      }
      .line {
        display: inline-block;
        margin: 0 6px;
        width: 14px;
        height: 1px;
        background: #666;
      }
    }
    .sketch {
      margin: 20px auto 0 !important;
    }
  }
  .skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .skill-name {
      width: 100px;
      font-size: 18px;
    }
    .skill-precent {
      width: 50px;
    }
  }
  .add-btn {
    width: 86px;
    height: 36px;
    background: transparent;
    border: 1px dashed #ddd;
  }
}
