.edit {
  display: flex;
  flex-direction: column;
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      margin-right: 16px;
    }
  }
  ul {
    padding-top: 4px;
    text-align: left;
    line-height: 1.6;
  }
}

