.sidebar {
  padding: 16px;
  width: 320px;
  background: #87ceeb;
  color: #fff;
  text-align: left;
  .avatar-wrap {
    margin: 25px auto 40px;

    img {
      display: block;
      margin: 16px auto;
      width: 150px;
      border-radius: 10px;
    }
    h1 {
      font-size: 26px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      margin-top: 5px;
    }
  }
  .side {
    line-height: 1.6;
    ul {
      padding-top: 4px;
    }
  }
}
